@import "helper";
@import "../fonts/stylesheet.css";

/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
  min-height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

*{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:focus{
    outline: none;
    //border: 0;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input {
  border: none;
}

body{
  font-family: 'TT Hoves';
  height: 100%;
}

a{
  color: #010101;
  text-decoration: none;

  &:hover{
    text-decoration: none;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
 }

.button {
  width: 100%;
  border: none;
  height: 67px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  .flex;
  .flex_center;
  text-transform: uppercase;
  cursor: pointer;
}

.button_green {
  background-color: #48F478;
  transition: all 0.1s ease 0s;
  &:hover {
    background-color: darken(#48F478, 6%);
  }
}

.button_light {
  background-color: #FFFFFF;
  transition: all 0.1s ease 0s;
  &:hover {
    background-color: darken(#FFFFFF, 10%);
  }
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.head-h1 {
  font-weight: 500;
  font-size: 98px;
  line-height: 115px;
}

.head-h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
}

.head-h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.head-h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.head-h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.container {
  padding: 0 85px;
}

.main-content{
  height: 100%;
  &.main-content_light {
    background: #0C0C0C;
    .header{
      .header_light;
    }

    .footer{
      .footer_light;
    }
  }
}

.header{
  position: relative;
  z-index: 3;
}

.header_light{
  .header__logo{
    color: #fff;
  }

  .top-menu__link{
    color: #fff;
  }
}

.header__wrap {
  padding: 59px 0;
  .flex;
  .flex_sb;
  .flex_ac;
}

.header__left {
  margin-right: 100px;
}

.header__logo {
  font-weight: 600;
  font-size: 40px;
  width: 210px;
}

.header__logo span {
  display: block;
  margin-left: 100px;
}

.header__right {
  margin-left: auto;
}

.top-menu {
.flex;
flex-wrap: wrap;
}

.top-menu__item {
  margin-left: 38px;
}
.top-menu__link {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  transition: all 0.1s ease 0s;
  &.top-menu__link_active {
    color: #48F478;
  }

  &:hover {
    color: #48F478;
  }
}

.main-slide {
  position: relative;
  margin-top: -198px;
  &:after{
    content: "";
    .fullSize;
    background: rgba(0, 0, 0, 0.15);
  }
}

.main-slide__content {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.main-slide__img{
  height: 890px;
  object-fit: cover;
}

.main-slide__title {
  margin-bottom: 60px;
  color: #fff;
}

.breadcrumb {
  .flex;
  margin-bottom: 95px;
}

.breadcrumb__item {
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
  padding-right: 34px;
  margin-right: 34px;
  position: relative;
  color: #fff;
}

.breadcrumb__item::after {
  content: "/";
  top: 0;
  right: 0;
  position: absolute;
}

.breadcrumb__item:last-child::after {
  content: none;
}





.ticker {
  background-color: #000000;
  width: 100%;
}

.ticker__link {
  height: 60px;
  font-size: 42px;
  line-height: 49px;
  text-decoration-line: underline;
  color: #FFFFFF;
  display: block;
  .flex;
  .flex_ac;
}

.brif-action {
  background-color: #48F478;
  height: 223px;
  .flex;
  .flex_ac;
}

.brif-action__link {
  font-size: 66px;
  line-height: 78px;
  text-decoration-line: underline;
}

.brif-wrap{
  margin-bottom: 90px;
}


.footer_light {
  .footer__copyright{
    color: #fff;
  }
}


.footer__wrap {
  .flex;
  padding: 38px 0 35px;
}

.footer__copyright {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.footer__right {
  margin-left: auto;
}
.social {
  .flex;
}
.social__item {
  margin-left: 75px;
  width: 18px;
  .flex_no-shrink;
}
.social__img{
  width: auto;
}






.gallery-inner__title {
  margin-bottom: 35px;
}

.tabs {
  .flex;
}

.tabs__item {
  border: 2px solid #000000;
  border-radius: 171px;
  margin-right: 15px;
  &_active {
    background: #48F478;
    border-color: #48F478;
  }
  transition: all 0.1s ease 0s;
  &:hover {
    background-color: #48F478;
    border-color: #48F478;
  }
}

.tabs__link {
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  padding: 10px 22px;
  display: block;
  cursor: pointer;
}

.gallery__inner-wrap {
  .flex;
  flex-wrap: wrap;
  gap: 4px;
  padding-top: 61px;
  padding-bottom: 117px;
}

.gallery-inner__item{
  width: calc(25% - 4px);
  transition: all 0.1s ease 0s;
  &:hover {
    transform: scale(1.01);
  }
}



.product-info {
  .flex;
  padding-bottom: 43px;
  border-bottom: 4px solid #000000;

}

.product-info__item {
  margin-right: 90px;
}

.product-info__post {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
  text-transform: lowercase;
}

.product-info__name {
  line-height: 28px;
  border-bottom: 1px solid #000;
}

.office{
  margin-bottom: 82px;
}

.office__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.contact {
  margin-bottom: 82px;
}

.contact__title {
  margin-bottom: 22px;
}

.office__link {
  font-size: 66px;
  line-height: 78px;
  margin-bottom: 28px;
  display: block;
}

.map__title {
  margin-bottom: 7px;
}

.map__addres {
  margin-bottom: 43px;
}





.live__title {
  margin-bottom: 75px;
  color: #fff;
}

.live__list {
  margin-bottom: 166px;

  .flex;
  flex-wrap: wrap;
  gap: 114px 3%;
}

.live__item {
  background-color: #333;
  border-radius: 50%;
  width: 22.7%;
  .card {
    display: none;
  }
  transition: all 0.1s ease 0s;
  &:hover {
    transform: scale(1.01);
  }
}

.live__img {
  border-radius: 50%;
}





.team {
  padding-bottom: 113px;
  border-bottom: 2px solid #000000;
}

.team__title {
  margin-bottom: 77px;
}

.team__list {
  .flex;
  flex-wrap: wrap;
  gap: 77px 7%;
  margin-bottom: 110px;
}

.team__item {
  width: 28.6%;
}

.team__img{
  width: 100%;
}

.team__avatar {
  margin-bottom: 28px;
  width: 100%;
  background-color: #C4C4C4;
}

.team__name {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 9px;
}

.team__post {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
}


.main-gallery {
  padding: 100px 0 140px;
}

.main-gallery__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4px;
  grid-template-areas: 
    "big big b c"
    "big big d e";
  margin-bottom: 35px;

}

.main-gallery__item_big { 
  grid-area: big; 
}

.main-galletry__img{
  width: 100%;
  height: 100%;
}

.main-gallery__btn {
  .flex;
}

.main-gallery__link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  padding-right: 58px;
  margin-left: auto;
}

.main-gallery__link::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 13px;
  right: 0;
  top: 1px;
  background-image: url("../img/icon/gallery-link.svg");
}

.main-gallery__link:hover {
  text-decoration: underline;
}

.card {
  margin: 0 auto;
  width: 388px;
  height: 690px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #333;
}

.card__content {
  padding: 35px 33px 37px 35px;
  position: absolute;
  display: block;
  bottom: 0;
  color: #fff;
  background: linear-gradient(360deg, #000000 42.18%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  text-align: left;
  white-space: normal;
}

.card__meta {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 23px;
}

.card__title {
  text-transform: uppercase;
  margin-bottom: 23px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
}

.title {
  font-weight: 500;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.schedule-wrap {
  background-color: #0C0C0C;
  border-bottom: 2px solid #FFFFFF;

}

.schedule {
  margin: 102px auto 166px;
  max-width: 1117px;
  border: 2px solid #FFFFFF;
  padding: 62px 66px;
}

.schedule__title {
  margin-bottom: 50px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.schedule__row {
  .flex;
  .flex_sb;
  margin-bottom: 72px;
}

.schedule__elem {
  width: 45%;
}







.form__fieldset {
  max-width: 875px;
}

.form__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.form__fieldset_product {
  margin-bottom: 76px;
}

.form__row {
  .flex;
  .flex_wrap;
  gap: 4px;
}

.form__title_product {
  margin-bottom: 40px;
}

.form__label {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.form__label_ckeckbox {
  height: 45px;
  padding: 0 38px;
  .flex;
  .flex_ac;
  background-color: #F1F1F1;
  transition: all 0.1s ease 0s;
  &:hover {
    background-color: #48F478;
    color: #fff;
  }
}

.form__input_checkbox:checked + label {
  background-color: #48F478;
}

.form__fieldset_budget {
  margin-bottom: 79px;
}

.form-range {
  .flex_sb;
  position: relative;
  
}

.form-range::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 13px;
  background-color: #000;
}

.form-range__toggle {
  position: relative;
  padding-bottom: 55px;
}

.form__label_radio::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 26px;
  background-color: #000;
  right: 50%;
  bottom: 0;
  cursor: pointer;
}

.form__input_radio:checked + label::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 45px;
  background-color: #48F478;
  right: 50%;
  transform: translateX(+50%);
  bottom: 0;
  cursor: pointer;
  z-index: 4;
}

.form__input_radio:checked + label {
  color: #48F478;
}

.form__fieldset_message {
  margin-bottom: 87px;
}

.form__title_message {
  margin-bottom: 37px;
}

.textarea {
  position: relative;
}

.textarea__input {
  width: 874px;
  height: 256px;
  padding: 23px 29px;
  border: 2px solid #000;
  width: 100%;
  font-size: 18px;
  line-height: 21px;
}

.textarea::placeholder {
  color: #A0A0A0;
}

.form__title_contact {
  margin-bottom: 53px;
}

.attach {
  position: absolute;
  right: 0;
  bottom: 0;
  right: 33px;
  bottom: 26px;
}

.attach__label {
  .flex;
  .flex_ac;
  cursor: pointer;
}

.attach__icon-wrapper {
  margin-right: 13px;
}

.attach__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.text-input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
}

.text-input_type-1{
  font-size: 18px;
  line-height: 21px;
  &::placeholder {
    color: #A0A0A0;
  }
}

.text-input_type-2 {
  background-color: inherit;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  border-color: #FFFFFF;
  padding-bottom: 13px;
  &::placeholder {
    color: #353535;
  }
}


.accord {
  text-align: center;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #5F5F5F;
}

.form__accord {
  margin-top: 23px;
}


.static-content {
  .mt_105;

  h1 {
    .head-h1;
    .mb_15;
  }

  h2 {
    .head-h2;
    .mb_20;
  }

  h3 {
    .head-h3;
    .mb_70;
  }

  p {
    .mb_45;
  }

  img {
    .mb_90;
  }
}

.pooduct-info {
  .mb_80;
}